.navegacao {
  align-items: center;
  background-color: var(--branco);
  color: var(--cinza);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 7rem;
}

.navegacao__navbar {
  display: flex;
}

.navegacao__lista {
  color: var(--cinza);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  width: 23rem;
}

.navegacao__link {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-around;
  text-decoration: none;
}
.navegacao__link:link,
.navegacao__link:hover,
.navegacao__link:active,
.navegacao__link:visited {
  color: var(--cinza);
}

.navegacao__botoes {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

span {
  margin-right: 2rem;
  text-align: center;

}
.navegacao__botao {
  background-color: var(--vinho);
  border: none;
  border-radius: 8px;
  color: var(--branco);
  font-size: 1rem;
  font-weight: 500;
  height: 2.75rem;
  width: 7rem;
}